.apexcharts-xaxis-label,
.apexcharts-yaxis-label {
    font-size: 12px;
    font-weight: 500;
    color: #9999CC;
    fill: currentColor;
}

.apexcharts-gridline {
    stroke: rgba(#31314D, .05);
}

.apexcharts-xaxis-tick {
    display: none;
}